<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Road Safety Admin</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/vehicles">Reviews</a></li>
				<li><a href="/reviewers">Reviewers</a></li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/pending">Pending Reviews</a></li>
			</ul>
		</div>
	</div>
</nav>
