<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
		/>
		<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
		<style>
			body {
				background-color: #ecedec;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1><span class="glyphicon glyphicon-bullhorn"></span></h1>
				<h2>Road Safety</h2>
			</div>
		</div>
		<!-- </body> -->
		<!-- </html> -->
	</body>
</html>
